*{
    margin: 0;
}

/* header style starts here */
header{
    background-color: #FAFAFA;
}
.banner-area{
    display: flex;
    align-items: center;
    column-gap: 43px;
    padding-top: 64px;
}
.banner-text{
    margin-left: 156px;
    margin-right: 57px;
}
.banner-title{
    color: #121212;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}
.banner-info{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-primary{
    color: #fff;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
}
.btn{
    color: #707070;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    background-color: transparent;
}