*{
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

/* header style starts here */
header{
    background-color: #FAFAFA;
}
.banner-area{
    display: flex;
    align-items: center;
    column-gap: 43px;
    padding-top: 64px;
}
.banner-text{
    margin-left: 156px;
    margin-right: 57px;
}
.banner-title{
    color: #121212;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}
.banner-info{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-primary{
    color: #fff;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
}
.btn{
    color: #707070;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    background-color: transparent;
}

/* main section styles starts here */
section{
    margin: 130px 0;
}
.donate-area{
    padding: 0 300px;
    text-align: center;
}
.section-title{
    color:#121212;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.section-info{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}
/* ----------------------------
    Donation area styles starts here
------------------------------ */
.donate-amount{
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.donate-amount p{
    border:2px solid transparent;
    padding: 44px 23px;
    margin-bottom: 50px;
}
.donate-amount p:hover{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}
/* donate input styles starts here */

.donate-input input{
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}
/* ------------------------------
    Donation plans starts here
--------------------------------- */